Test for CFWS around authserv-id

From RFC7601, section 2.2

authres-header = "Authentication-Results:" [CFWS] authserv-id
              [ CFWS authres-version ]
              ( no-result / 1*resinfo ) [CFWS] CRLF

For example
Authentication-Results: (testing) lists.example.org (test); arc=none;

Is a valid Authentication-Results header, Mail::DKIM was not doing the right thing with an authserv-id followed by a comment.

arc-draft-sign-tests.yml should include this use case, and possible one with an authres-version, and should set an expectation for what should be added in the corresponding AAR.