ARC does not use h= tag from DKIM for AS

Need new signing and verification tests for this

Must not add DKIM h= tag (Section 4.1.3)
Must fail if DKIM h= tag is present (Section 4.1.3)
Must verify without using h= tag to determine signed headers (Section 4.1.3)

The only supported tags are "i" (from Section 4.2.1 of this
document), and "a", "b", "d, "s", "t" from [RFC6376] Section 3.5.
Note especially that the DKIM "h" tag is NOT allowed and if found,
MUST result in a cv status of "fail" (for more information see
Section 5.1.1);

Must fail if h= tag is present verification test added in 3fe833e.

Existing test cases are constructed in such a way that if an implementation incorrectly includes h= in AS, then almost all test cases will fail since the result does not match what is expected.

This issue is complete for signing and verification.